.contact__container{
    display: grid;
    place-items: center;
   
}
.contact__wrapper{
    display: flex;
    gap: 2rem;
}
.contact__wrapper a{
    background-color: var(--navbar-background);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__wrapper a:hover{
    background-color: transparent;
   border-color: var(--color-gray-100);
}

/* MEDIA QUERY (SMALL SCREENS) */
@media screen and (max-width:600px) {
    .contact__wrapper{
        gap: 1.5rem;
    }
    .contact__wrapper a {
padding: 1rem;
font-size: 1.2rem;
border-radius: 1rem;
    }
    
}